<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="http://v4-alpha.getbootstrap.com/examples/starter-template/starter-template.css" >
</head>


<body>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
<a class="navbar-brand" href="{{ path('homepage') }}">Shop Manager</a>
<ul class="nav navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="{{ path('setShopId') }}">Set</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('getShopId') }}">Get</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('createShopId') }}">Create</a>
  </li>
</ul>
</nav>

<div class="container">

      {% block content %}
          Some content for the left teaser box
      {% endblock %}

</div>

</body>

</html>
