{% embed "base.html.twig" %}
{% block content %}
<h1>Shop</h1>
<ul>
    {% for shop in shops %}
        <li><a href="{{ path('getShopId', {'id': shop.id}) }}"> {{shop.id}} </a> {{ shop.name|e }}</li>
    {% endfor %}
</ul>
{% endblock %}
{% endembed %}
